<!DOCTYPE html> 
<html id="home" lang="en"> 
<head> 
<meta charset=utf-8 /> 
<meta name="viewport" content="width=620" /> 
<title>Gitasks</title> 
<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" /> 
</head> 
<body> 
<section id="top"> 
  <h1><a href="/">Celula Open - Git Tasks</a></h1>
  <menu>
    <ul>
      <li><a title="Show Projects" href="/projects">Projects</a></li>
      <li><a title="Show Users" href="/users">Users</a></li>
      <li><a title="Show Tasks" href="/tasks">Tasks</a></li>
   </menu>
 </section>
 
 <%= yield %>
 </body>
 </html>
