html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Ubuntu', arial, serif;
    color: #333;
    background-image: url(bg.gif);
    overflow: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* STYLE APP */

header{
	height:40px;
	padding: 5px 0;
	background-image: url(bg_menu.gif);
	-webkit-box-shadow: 0px 2px 5px #fff;
	-moz-box-shadow: 0px 2px 5px #fff;
	box-shadow: 0px 2px 5px #fff;
	width: 100%;
	overflow: none;
}

header h1{
	font-family: 'Kreon', arial, serif;
	font-size: 22px;
	text-shadow: 1px 0px 2px #333;
	filter: dropshadow(color=#333, offx=1, offy=0);
	width: 300px;
	float: left;
	text-indent: 20px;
	color: #fff;
	line-height: 40px;
}
header h1 small{
	font-size: 14px;
	font-style: italic;
}

nav {
	height: 21px;
	width: 400px;
	float: right;
	margin: 7px 50px 0 0; 
}

nav ul li{
	float:right;
	margin: 0 10px;
}


section#content{
	padding: 20px 2%;
	overflow-y: auto;
	width: 96%;
}

section#content h2{
	font-size: 16px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #666;
}

footer{
	height: 30px;
	padding:5px 0;
	background-image: url(bg_menu.gif);
	width: 100%;
}


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* @group BUTTONS  AWESOME*/

.awesome, .awesome:visited {
	background: #222 url(alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
.awesome:hover { background-color: #111; color: #fff; }
.awesome:active	{ top: 1px; }
.small.awesome, .small.awesome:visited { font-size: 11px; padding: ; }

.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited {
	font-size: 13px; 
	font-weight: bold; line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}

.large.awesome, .large.awesome:visited { font-size: 14px; padding: 8px 14px 9px; }

	
.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited{ background-color: #2daebf; }
.blue.awesome:hover	{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited	{ background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited	{ background-color: #a9014b; }
.magenta.awesome:hover{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited{ background-color: #ff5c00; }
.orange.awesome:hover{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited{ background-color: #ffb515; }
.yellow.awesome:hover{ background-color: #fc9200; }

/* @end */

/* @group GITHUB Style Buttons */

/* button basics */
  a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:12px;
    font-weight: bold;
    font-family: 'Puritan', arial, serif;
    color: #505050;
    text-shadow:0px 1px 0 #fff; 
    background:url(minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
  }
  
  a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(minibutton_matrix.png) 100% 0 no-repeat;
  }
  
  a.minibutton:hover, a.minibutton:focus {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
  }
  a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
  
  a.minibutton.mousedown{background-position:0 -60px; }
  a.minibutton.mousedown>span{background-position:100% -60px; }
  

  
.btn-dashbord .icon,
.btn-project .icon,
.btn-date .icon,
.btn-user .icon,
.btn-calendar .icon,
.btn-time .icon,
.btn-task .icon,
.btn-book .icon,
.btn-trash .icon,
.btn-comment .icon,
.btn-tag .icon,
.btn-piker .icon,
.btn-plus .icon,
.btn-check .icon,
.btn-alert .icon{
	position:relative;
	top:-1px;
	float:left;
	margin-left:-4px;
	width:18px;
	height:22px;
	background:url(minibutton_icons.png) 0 0 no-repeat;
}

.btn-dashbord .icon{ background-position: -5px -2px; }
.btn-dashbord:hover .icon{ background-position: -5px -22px; }

.btn-project .icon{ background-position: -24px -2px; }
.btn-project:hover .icon{ background-position: -24px -22px; }

.btn-date .icon{ background-position: 124px -3px; }
.btn-date:hover .icon{ background-position: 124px -3px; }

.btn-user .icon{ background-position: -63px -2px; }
.btn-user:hover .icon{ background-position: -63px -22px; }

.btn-calendar .icon{ background-position: 124px -3px; }
.btn-calendar:hover .icon{ background-position: 124px -3px; }

.btn-time .icon{ background-position: 124px -3px; }
.btn-time:hover .icon{ background-position: 124px -3px; }

.btn-task .icon { background-position: -122px -2px; }
.btn-task:hover .icon { background-position:-122px -22px; }

.btn-book .icon{ background-position: 124px -3px; }
.btn-book:hover .icon{ background-position: 124px -3px; }

.btn-trash .icon{ background-position: 124px -3px; }
.btn-trash:hover .icon{ background-position: 124px -3px; }

.btn-comment .icon{ background-position: 124px -3px; }
.btn-comment:hover .icon{ background-position: 124px -3px; }

.btn-tag .icon{ background-position: 124px -3px; }
.btn-tag:hover .icon{ background-position: 124px -3px; }

.btn-piker .icon{ background-position: 124px -3px; }
.btn-piker:hover .icon{ background-position: 124px -3px; }

.btn-plus .icon{ background-position: 124px -3px; }
.btn-plus:hover .icon{ background-position: 124px -3px; }

.btn-check .icon{ background-position: 124px -3px; }
.btn-check:hover .icon{ background-position: 124px -3px; }

.btn-alert .icon{ background-position: 124px -3px; }
.btn-alert:hover .icon{ background-position: 124px -3px; }  

/* @end */



